<div class="container">
  <h1 class="my-4"><%= @post.title %></h1>
  <p class="text-muted"><small>Por <%= @post.user.email %>, há <%= time_ago_in_words(@post.created_at) %></small></p>
  <p><%= @post.content %></p>

  <hr>

  <h3>Comentários</h3>
  <div class="mb-3">
    <% @post.comments.each do |comment| %>
      <p><strong><%= comment.user ? comment.user.email : "Anônimo" %>:</strong> <%= comment.content %></p>
    <% end %>
  </div>

  <%= form_with(model: [@post, Comment.new], local: true) do |form| %>
    <div class="mb-3">
      <%= form.text_area :content, rows: 2, class: "form-control", placeholder: "Adicione um comentário..." %>
    </div>
    <%= form.submit "Postar Comentário", class: "btn btn-secondary" %>
  <% end %>
</div>
